<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="TRACE">
    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg %X{employee_id} %X{patient_id}%n"/>
        </Console>
        <!-- File Appender -->
        <File name="File" fileName="logs/benhVienLmao.log" append="true" immediateFlush="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg %X{employee_id} %X{patient_id}%n"/>
        </File>
        <!-- Database Appender -->
        <JDBC name="DatabaseAppender" tableName="SystemLogs" immediateFlush="true">
            <DriverManager url="jdbc:sqlserver://localhost:1433;databaseName=benhvienlmao;encrypt=false" username="sa" password="123"/>
            <Column name="employee_id" pattern="%X{employee_id}" isUnicode="false"/>
            <Column name="patient_id" pattern="%X{patient_id}" isUnicode="false"/>
            <Column name="action" pattern="%message" isUnicode="true"/>
            <Column name="log_level" pattern="%level" isUnicode="false"/>
            <Column name="created_at" pattern="%date{yyyy-MM-dd HH:mm:ss}" isUnicode="false"/>
        </JDBC>
    </Appenders>
    <Loggers>
        <Logger name="com.benhvienlmao" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
            <AppenderRef ref="DatabaseAppender"/>
        </Logger>
        <Logger name="controller" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
            <AppenderRef ref="DatabaseAppender"/>
        </Logger>
        <Logger name="view" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
            <AppenderRef ref="DatabaseAppender"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
            <AppenderRef ref="DatabaseAppender"/>
        </Root>
    </Loggers>
</Configuration>